@import '../../styles/variables.scss';

.footer-container {
    background-color: $white;
    text-align: center;

    .footer-heading {
        padding: 15px 0;
        font-weight: bold;

        span {
            color: $red-600;
        }
    }
}
