@import 'styles/variables.scss';

.main-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $white;
    color: $primary;

    padding: 15px;
    border-radius: 10px;

    text-decoration: none;
    font-weight: bold;

    width: 150px;
    font-size: 16px;

    transition: all 0.2s ease-in;

    span {
        flex-grow: 1;
        display: block;
        color: inherit;
    }

    &:hover {
        color: $secondary;

        box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    }
}
