@import 'styles/variables.scss';

.main-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $white;
    color: $primary;

    padding: 15px;
    border: none;
    border-radius: 10px;

    text-decoration: none;
    font-weight: bold;

    width: fit-content;
    font-size: 16px;

    transition: all 0.2s ease-in;
    outline: none;

    svg {
        color: $secondary;
        margin-right: 5px;
    }

    &:hover {
        color: $secondary;
        cursor: pointer;

        box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    }
}
