@import 'styles/variables.scss';

.svg-icon {
    display: block;
    // original size = 20px
    transform: scale(1.50); // 150% of original size
    
    &.primary {
        path {
            fill: $primary;
        }
    }

    &.secondary {
        path {
            fill: $secondary;
        }
    }
}

