@import 'styles/variables';

.month {
    display: block;
    
    max-width: 400px;
    width: 100%;
    
    min-height: 200px;
    height: 100%;
    
    padding: 25px;
    margin-bottom: 10px;

    border-radius: 10px;

    color: inherit;
    text-align: center;
    text-decoration: none;

    font-size: 32px;

    .month-link {
        color: inherit;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 2px solid $primary;
        display: block;
        width: 100%;
    }

    &:hover {
        background-color: $primary;
        color: $white;

        .month-link {
            border-bottom: 2px solid $secondary;
        }

        transform: scale(1.05); // 105% of original size
    }

    transition: all 0.2s ease-in;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}
