@import 'styles/variables.scss';

.month-day {
    padding: 20px;

    max-width: 190px;
    min-height: 190px;
    
    width: 100%;
    height: 100%;;

    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    transition: all 0.2s ease-in;

    time {
        display: block;
        text-align: center;

        &::after{
            background: $secondary;
            background: linear-gradient(324deg, rgba(253,187,45,1) 25%, rgba(34,193,195,1) 80%);
            height: 2px;
            content: '';
            display: block;
        }
    }

    &.today {
        background-color: $primary;
        font-weight: bold;

        time {
            border-bottom: 2px solid $secondary;

            &::after {
                content: none;
            }
        }

        &:hover {
            background-color: $secondary;

            time {
                border-bottom: 2px solid $primary;
            }
        }
    }

    &:hover {
        transform: scale(1.05); // 105% of original size
        cursor: pointer;
        font-weight: bold;

        time {
            &::after{
                background: linear-gradient(324deg, rgba(34,193,195,1) 25%, rgba(253,187,45,1) 80%);
            }
        }
    }
}
