@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import '../styles/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: $primary;
}

.site-wrapper {

    background-color: $white;

    .main-section {
        width: 100%;
    }
    
    .container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
}
